.about {
  @include section-bottom();
}

.about__wrapper {
  @include section-wrapper();

  justify-content: flex-start;
}

.about__image {

  @include mobile {
    margin: 0 auto;
    margin-bottom: 20px;
  }

  @include tablets {
    order: 0;

    width: 30%;
    margin-right: 10%;
    margin-bottom: 30px;
  }
}

.about__title {
  @include section-title();
}

.about__text-container {
  width: 100%;
  margin-bottom: 1em;

  @include tablets {
    width: 50%;
  }

  @include desktop {
  }
}

.about__link {
  display: block;

  font-size: $font-size;
  color: $link-color;
  cursor: pointer;

  margin-bottom: $font-size;

  white-space: nowrap;

  &:active {
    color: $link-color--active;
  }
}

.about__link:hover span,
.about__link:focus span {
  border-bottom: 1px solid currentColor;
}
