.block-link {
  display: flex;
  align-items: baseline;
  justify-content: center;

  margin-bottom: 20px;

  color: $white;

  @include tablets {
    margin-bottom: 40px;
  }

  & a {
    color: inherit;
  }
}

.block-link a:hover,
.block-link a:focus {
  color: $red;
}

.block-link__header {
  margin-right: 10px;

  font-size: 0.8em;

  text-transform: uppercase;

  @include tablets {
  margin-right: 20px;
  }
}

