.main-nav {
  display: flex;

  // @include tablets {
  //   box-sizing: border-box;
  //   width: 516px;
  //   padding-left: 78px;
  // }

  // @include desktop {
  //   width: 570px;
  //   margin-left: auto;
  //   padding-left: 92px;
  // }
}

.main-nav__container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0.1;

  background-color: rgba(#1b2126, 0.95);
  transform: translateY(-2000px);
  transition: opacity 0.7s;
}

.main-nav__list {
  @include ul-unstyled();

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.main-nav__toggle {
  position: fixed;
  top: 20px;
  left: 0;
  z-index: 100;

  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;

  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  padding: 15px;

  font-size: 0;
  text-indent: -9999px;

  background: none;
  border: 0;
  transition: background 0.3s;

  cursor: pointer;
  user-select: none;
}

.main-nav__toggle span {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 3px;

  background-color: $red;
  transition: background 0.3s 0.5s;
  vertical-align: bottom;
}

.main-nav__toggle span::before,
.main-nav__toggle span::after {
  content: "";

  position: absolute;
  left: 0;

  width: 100%;
  height: 3px;

  background-color: $red;
  transition: top .3s .3s,transform .3s;
}

.main-nav__toggle span::before {
  top: 10px
}

.main-nav__toggle span::after {
  top: -10px
}

.main-nav--opened .main-nav__toggle span {
  background: none;
  transition: background 0.3s 0
}

.main-nav--opened .main-nav__toggle span::before,
.main-nav--opened .main-nav__toggle span::after {
  top: 0;

  background-color: $red;

  transition: top 0.3s,transform 0.3s 0.5s;
}

.main-nav--opened .main-nav__toggle span::before {
  transform: rotate3d(0,0,1,45deg)
}

.main-nav--opened .main-nav__toggle span::after {
  transform: rotate3d(0,0,1,-45deg)
}

.main-nav__link {
  position: relative;

  display: inline-flex;
  width: auto;

  padding-top: 18px;
  padding-bottom: 18px;

  font-weight: $bold;
  font-size: 24px;
  line-height: $line-height;
  color: $red;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5rem;

  transition-duration: $transition-duration;
  transition-property: all;

  cursor: pointer;
}

.main-nav__link::before {
  content: attr(data-hover);

  position: absolute;
  color: $white;

  transition-duration: $transition-duration;
  transition-property: all;
}

.main-nav__item:hover .main-nav__link::before,
.main-nav__item:focus .main-nav__link::before {
  opacity: 0;
  transform: scale(0.9);
}

.main-nav__link::after {
  content: "";

  position: absolute;

  bottom: 0;
  left: 0;

  width: 10%;
  height: 5px;

  background-color: $red;
  transition: width 0.3s, height 0.3s, transform 0.3s;
}

.main-nav__item:hover .main-nav__link::after,
.main-nav__item:focus .main-nav__link::after {
  width: 100%;
  height: 3px;
}

.main-nav__item:active .main-nav__link::after {
   background-color: lighten($red, 20%);
}

.main-nav__link:active {
  color: lighten($red, 20%);
}

.main-nav--opened .main-nav__container {
  transform: translateY(0);
  opacity: 1;
}

.main-nav--closed .main-nav__container {
  transform: translateY(-2000px);
  opacity: 0.1;
}

.main-nav--no-js .main-nav__toggle {
  display: none;
}
