.page-footer {
  display: flex;
  flex-direction: column;

  padding-top: 20vh;

  background-color: $black;
  background-image: url("../img/blackOlives.jpg");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  // для затемнения фона
  box-shadow: 0 0 0 100vh rgba(0, 0, 0, 0.65) inset;

  @include mobile {
    height: 100vh;
  }

  @include tablets {
    padding-top: 15vh;
  }
}

.page-footer__contacts {
  position: relative;
}

.page-footer__copyright {
  margin: 0 auto;
  margin-bottom: 5vh;

  color: $white;
}
