.portfolio {
  @include section-bottom();
}

.portfolio__wrapper {
  @include section-wrapper();

  @include tablets {
    justify-content: flex-start;
  }
}

.portfolio__title {
  @include section-title();

  @include tablets {
    width: 708px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
  }

  @include desktop {
    width: 1000px;
    padding-right: 40px;
    padding-left: 40px;
  }
}
