section.about(class=' section' data-section='about')
  .about__wrapper
    h2.about__title(class=' wow  fadeInLeft')
      | Обо мне
    p.about__image
      picture
        source(media="(min-width: 768px)" srcset="img/cook-mobile-2.jpg 1x, img/-tablet@2x.jpg 2x")
        img(src="img/cook-mobile@1x.jpg" alt="фото" srcset="img/cook-mobile-2.jpg 2x")
    .about__text-container
      p.about__text
        | Работаю поваром более 15 лет. Имею хорошие базовые знания классической кухни, также знаю и применяю современные техники приготоления и хранения продуктов:
      p.about__text
        | низкотемпературные методы приготовления, работа с вакууматором, заморозка азотом, работа с сифоном, термомиксом. Люблю сочетание в блюде контрастных текстур.Знаю и требую от персонала кухни соблюдение санитарных норм и правил
    a.about__link(href="resume/resume.pdf")
      span
        | Посмотреть резюме
