section.contacts(class=' section' data-section='contacts')
    .contacts__wrapper
      h2.contacts__title.visually-hidden
        | Контакты
      h3.contacts__subtitle(class=' wow  fadeInRight')
        | Связаться со мной
      .contacts__inner
        .block-link(class=' contacts__inner-block')
          span.block-link__header
            | телефон:
          a(href='tel:+7 (917) 490-46-94')
            | +7 (917) 490-46-94
        .block-link(class=' contacts__inner-block')
          span.block-link__header
            | почта:
          a(href='mailto:ak_78leon@mail.ru')
            | ak_78leon@mail.ru
