header.page-header
  .page-header__wrapper
    +nav("closed, no-js")
    .page-header__container
      h1.page-header__title
        | Александр Кокорев
        span.page-header__title--highlight
          | Вкусный повар
