section.portfolio(class=' section' data-section='portfolio')
  h2.portfolio__title(class=' wow  fadeInRight')
      | Портфолио
  .portfolio__wrapper
    ul.product
      - var delayStart = 0;
      each item in projectData
        li.product__item(class=' wow fadeInUp' data-wow-delay= delayStart + 's')
          a.product__link( data-fancybox='gallery' href="img/" + `${item.name}`+ "-2.jpg")
            img(src="img/" + `${item.name}`+ ".jpg" width="750" height="500" alt=" " + `${item.title}`)
            - delayStart = delayStart + 0.2;
